{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
<div id="footer">
<footer class="section footer-classic context-dark bg-image">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4">
                <h5>Pour Your Heart Out</h5>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Variant Seven</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>your heart</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">variantsvn@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
              	<li><a href="{% url 'Index' %}">Home</a></li>
                <li><a href="{% url 'About' %}">About</a></li>
                <li><a href="{% url 'Contact' %}">Contact</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>
		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://twitter.com/VariantSeven">{% fa5_icon 'twitter' 'fab' %}</a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/variantseven/">{% fa5_icon 'instagram' 'fab' %}</a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
  </footer>
</div>
<!-- <div id="footer">
<a href="https://twitter.com/VariantSeven" target="_blank">{% fa5_icon 'twitter' 'fab' %}</a>
<a href="https://www.instagram.com/variantseven/" target="_blank">{% fa5_icon 'instagram' 'fab' %}</a>
</div>
 -->