{% load static %}
<!doctype html>
<html>
<head>
	<meta name="description" content="base template">
	<meta name="keywords" content="variant seven ecommerce esport">
	<link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.png' %}"/>
	{% include 'base/css.html' %}
</head>
<body class="d-flex flex-column min-vh-100">
		{% include 'base/navbar.html' %}
		{% load django_bootstrap_breadcrumbs %}
		{% block breadcrumbs %}
		{% clear_breadcrumbs %}
		{% breadcrumb "Home" "Index" %}
		{% endblock %}
		{% render_breadcrumbs %}
			<div id="page-content">
				{% block content %}
				
				{% endblock %}	
			</div>
			{% include 'base/footer.html' %}
</body>
</html>