@import 'variables/variables';
@import 'bootstrap.css';


.form-group label {
  @extend .form-group; 
  color: $v_accent;
}

label {
	color: $v_accent;
}


.card-title {
	color: $v_main;
}

.card-subtitle {
	color: $v_accent;
}

.btn {
  @extend .btn;
  color: #ffffff;
  background-color: $v_main;
  border: $v_main;
}

.btn:hover {
	background-color: $v_accent; 
}
