@import 'variables/variables';
@import 'bootstrap.scss';
@import 'forms.scss';
@import 'footer.scss';
@import 'navigation.scss';


html, body {
	height: 100vh !important;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-color: #EBECf0;
}


a {
	color: $v_main;
}

a:hover {
	color: $v_accent;
}

.btn:hover {
	background-color: $v_accent;
	color: #fff;
}

.btn {
	background-color: $v_main;
	border: $v_main;
	color: #fff;
}

.btn:hover {
	background-color: $v_accent;
}

