{% extends "base.html" %}

{% block content %}
    <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
    <script>
	    grecaptcha.ready(function() {
	        grecaptcha.execute('{{site_key}}', {action: 'submit'})
	        .then(function(token) {
	            var e = document.getElementById('g-recaptcha-response');
	            e.value = token;
	        });
	    });
	</script>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      	<div class="card">
		<div class="card-body">
		    <h5 class="card-title">Contact</h5>
		    <h6 class="card-subtitle mb-2">leave a note</h6>
				<form action="/contact/" method='POST' id="form">
				{% csrf_token %}
				{{ form }}
				<hr>
				<input type="submit" class="btn" value="submit">
				<input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
				</form>
		</div>
	</div>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock %}