@import url(bootstrap.css);
.form-group label {
  color: #b7646f; }

label {
  color: #b7646f; }

.card-title {
  color: #a13c4f; }

.card-subtitle {
  color: #b7646f; }

.btn {
  color: #ffffff;
  background-color: #a13c4f;
  border: #a13c4f; }

.btn:hover {
  background-color: #b7646f; }
