/*site variables*/
/* blue */
/* accent blue */
/* lightest blue */
/*
$v_main: #a13c4f; //pink 
$v_accent: #b7646f; // accent pink */
@import url(bootstrap.css);
.form-group label {
  color: #5164d6; }

label {
  color: #5164d6; }

.card-title {
  color: #2d42bf; }

.card-subtitle {
  color: #5164d6; }

.btn {
  color: #ffffff;
  background-color: #2d42bf;
  border: #2d42bf; }

.btn:hover {
  background-color: #5164d6; }
