{% extends "../base/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-lg-4 mt-0 center-forms">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'Register' %}">register</a></h6>
                <form class="form-group">
                {% csrf_token %}
                {{ form }}
                <hr>
                <input type="submit" class="btn" value="submit">
                </form>
        </div>
    </div>
    </div>
  </div>
<style>
    .center-forms {
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 375px){
    .center-forms {
        width: 90%;
    }
}
</style>
{% endblock %}

