/*site variables*/

$v_main: #2d42bf; /* blue */
$v_accent: #5164d6; /* accent blue */
$v_accent_three: #8d99e4; /* lightest blue */


/*
$v_main: #a13c4f; //pink 
$v_accent: #b7646f; // accent pink */