{% extends 'products/product_list.html' %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb object.title "product.views.product_detail_view" object.id  %}
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col" style="padding:20px">
			{% if object.image %}
			<img src='{{object.image.url}}' class='img-fluid' />
			{% endif %}
		</div>
		<div class="col" style="padding:20px">
			<div class="card" style="width: 90%;">
				<div class="card-body">
					<h2 class="card-title">{{object.title}}</h2>
					<h3 class="card-text">{{object.price}}</h3>
					<p class="card-text">{{object.description}}</p>
			{% include 'components/add_to_cart/update-cart.html' with product=object cart=cart %}
			</div>
		</div>
		</div>
	</div>
</div>
{%endblock %}
