{% extends "blog/blog_list.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb object.title "blog.views.blog_detail_view" object.id  %}
{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
		<div class="col" style="padding:20px">
			{% include 'cards/blog_detail_card.html' with instance=object %}
		</div>
		<div class="col" style="padding:20px">
		{% include 'cards/meta_detail_card.html' with instance=object %}
		{% include 'cards/share_card.html' with instance=object %}
		</div>
	</div>
</div>
{% endblock %}
